@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --yellow-color: #ffb73b;
    --black-color: #111111;
    --gray-color: #bbbbbb;
    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
     overflow-x: hidden;
     position: relative;
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 20px 0 40px;
}
.menu-link{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.menu-action{
    display: flex;
    height: fit-content;
    width: 100%;
    max-width: 53%;
    justify-content: space-between;
    align-items: center;
}
.search{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size:14px;
    padding: 2px;
    width: 200px;
}
.title-icon{
    font-weight: 800 ;
    font-size: 24px;
}
span.yellowText{
    color: var(--yellow-color);
}
.menu-action a i{
    font-size: 20px;
    color: var(--black-color);
}
ul{
    list-style: none;
}
ul li{
    width: fit-content;
    padding-right: 8px;
    margin-top: 4px;
}
ul li a{ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 28px;
    color: var(--black-color);
    text-decoration: none;
    font-weight: 500;
    transform: 1s;
}
ul li a:hover{
    color: white;
}
li::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
}

li:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

li:hover {
    color: white;
}

li::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: var(--black-color);
    z-index: -1;
    transition: transform .3s ease;
}

li {
    position: relative;
    transition: 0.2s;
}
.banner{
    height: 100vh;
    width: 100%;
    position: relative;
}
.banner marquee{
    font-size: 128px;
    font-weight: 700;
    transform: rotate(-4deg);
    height: fit-content;
}

.slider{
    width: 100%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
    animation: floatUpDown 2s infinite;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 100%;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid rgb(159, 159, 159);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:hover{
    background-color: rgb(97, 97, 97);
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid rgb(159, 159, 159);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: grey;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: grey;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: grey;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: grey;
}
/* .banner{
    height: 100vh;
    width: 100%;

}
.scrollText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
   
    
}
.scroll {
    white-space: nowrap;
    margin: 0 2em;
}

.scroll div {
    display: flex;
    gap: 2em;
}

.scroll p {
    font-size: 8em;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-bottom: 0;
    line-height: 10px;
    transform: rotate(5deg);
}

.RightToLeft {
    animation: RightToLeft 60s infinite linear;
}
.slider{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    animation: floatUpDown 2s infinite;
    transition: 2s;
}
.slide img{
    width: 800px;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid lightgray;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:hover{
    background-color: lightgray;
}
.scrollText{
    position: absolute;
    display: flex;
    z-index: -2;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid lightgray;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: lightgray;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: lightgray;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: lightgray;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: lightgray;
} */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 1140px;
    height:fit-content;
    max-height: fit-content;
    margin: auto;
    background-color: var(--yellow-color);
    padding: 20px;
    border-radius: 24px;
}
.card {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    max-height: 400px;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: 60%;
    display: flex;
    max-width: 800px;
    position: relative;
    
}

.modal.active {
    display: flex;
}

.modal.active .modal-content {
    opacity: 1;
}
.actions{
    display: flex;
    flex-direction: column;

}
.actions button.close{
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.photo-section {
    width: 100%;
    max-height: 500px;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.photo-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comment-section {
    flex: 1;
    gap: 10px;
    
    
}
.comment-section h2{
    text-align: center;
}
.comment{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 320px;
    overflow: auto;
}
.comment-bubble{
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: rgb(255, 225, 136);
    padding: 5px 10px;
    border-radius: 0px 10px 10px 10px;
}
.comment-bubble h1{
    font-size: 13px;
    font-weight: 600;
    
}
.comment-bubble p{
    font-size:12px;
    
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.buttons input{
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 12px;
    padding: 5px 10px;
    width: 100%;
    max-width: 260px;
}
.input-comment{
    display: flex;
    gap: 10px;
}
.input-comment button{
    width: 100%;
    max-width: fit-content;
    padding:5px 10px;
    background-color: rgb(244, 194, 43);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.action-buttons {
    display: flex;
    gap: 5px;
    width: 100%;
}

.action-buttons button:first-child {
    width: 260px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(215, 168, 26);
    color: #fff;
    cursor: pointer;
}
.action-buttons button:last-child{
    font-size: 28px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.bxs-heart{
    color: red;
}
footer{
    margin-top: 28px;
    background-color: var(--black-color);
    color: white;
    padding: 20px 0;
}
.contact-container{
    width: 100%;
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-container h1{
    margin-bottom: auto;
}
.contact-container .contact{
    margin-top: 8px;
    display: flex;
    flex: 1 1 calc(50% - 20px);
    flex-shrink: 0;
    width: 100%;
    justify-content: flex-end;
}
.link-contact{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.link-contact ul li a{
    color: white;
    font-weight: 400;
}























@keyframes floatUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

@keyframes RightToLeft {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(50%);
    }
}

@media only screen and (max-width: 600px) {
    .menu-link {
        display: none;
    }

    .menu-action {
        max-width: 100%;
    }

    .banner {
        display: none;
    }

    .comment-section h2 {
        font-weight: 600;
        font-size: 16px;
        text-align: left;
        margin-bottom: 10px;
    }

    .modal-content {
        flex-direction: column;
        max-width: calc(100% - 20px);
        /* Adjust according to your padding */
    }

    .photo-section {
        flex-direction: column-reverse;
    }

    .comment-bubble {
        margin-bottom: 10px;
    }
    .contact-container{
        flex-direction: column;
    }
    .contact-container .contact{
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }
    .link-contact ul{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .link-contact ul{
        text-align: center;
    } 

}

@media screen and (max-width: 767px) {
    .card {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}